#header{
    width:100%;
    height: 100px;    
}
.container{
    width:85%;
    margin:0 auto;
}
.logo-layout{
    width:18%;
    float: left;
    padding:1%;
    height: 100%;
}
.menu-layout{
    width: 75%;
    float: left;
    padding:5% 1.5%;
    height: 100%;
    vertical-align: middle;
}

.menu-layout ul{
    vertical-align: middle !important;
    float:left;
    margin-right:2em;
} 

.menu-layout ul > li {
    // padding: 1.5% 2%;
    list-style-type: none;
    display: inline;
    
}

.menu-layout ul > li a{
    color:#212121;
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
    text-transform:capitalize;
    font-size: 14px;
    transition: .5s ease-in;
}

.menu-layout ul > li a:hover{
    color:#FA1818;

}

.menu-layout ul > li i{
    padding: 0px 1.5em;
}


.menu-layout  > ul.info-txt{
   
    float: right;
   
}

.menu-layout  > ul.info-txt > li{
    display: inline;
    color:#212121;
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
    text-transform:capitalize;
    font-size: 14px;
    padding:5px;
}
.menu-layout  > ul.info-txt > li span{
    margin-left:0.5em !important;

}