
.category-main-slider{
    width:100%;
    height: 100%;

}

.category-style{
    width: 28%;
    float: left;
    background-color: #9f9f9f;
    padding:1%;
}

.main-slider{
    width:68%;
    float: left;
    background-color: #afafaf;
    padding:1%;
}

#body-section-2{
    background-color: #999;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding:5%;
}

