.agileits_header{
	background:#212121;
}

.w3l_offers{
	float:left;
}
.w3l_offers a{
	font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding: .5em 3em;
    background: #84C639;
	display:block;
}

.w3l_search{
	float: left;
    width: 27%;
    margin:.1em 0 0em 10em;
}
.w3l_search input[type="text"]{
	outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    width: 85%;
    background: #fff;
    border: 1px solid #999;
    float: left;
}
.w3l_search input[type="submit"]{
	outline: none;
    padding: 10px 0 9px;
    width: 15%;
    border: 1px solid;
    position: relative;
   /* background: url(../images/img-sp.png) no-repeat 14px 5px #FA1818;*/
}
.w3l_search input[type="submit"]:hover{
    /*background: url(../images/img-sp.png) no-repeat 14px 5px #84C639;*/
}