<div id="banner">
      <span class="banner-style">Banner Menu</span>
</div>
<div id="header">
  <div class="logo-layout">Logo Layout</div>
  <div class="menu-layout">Menu Layout</div>
</div>
<div>
    <div id="category-main-slider">
        <div class="category-style">Category Menu</div>
        <div class="main-slider"> Slider content </div>
    </div>
    <div style="clear:both;"></div>
    <div id="body-section-2">
            <span>Hot Offers </span>
    </div>
</div>
<div id="footer">

</div>
